<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="main.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script type="text/javascript">
		$(document).ready(function($) {
			$(".wrapper").fadeIn(750);
			$(".row").addClass('margin50');

			$("#closebtn").click(function(event) {
				window.close();
			});
			$("#girisbtn").click(function(event) {
				$(".wrapper").fadeOut(750);
			});
		});
    </script>
</head>
<body>
    <div class="container-fluid navy">
        <div class="col-xs-6">
            <h2 class="text-primary">MOBİL OTOPARK SİSTEMİNE</h2>
            <h2 class="text-primary">HOŞGELDİNİZ</h2>
        </div>
        <div class="pull-right">
            <a href="#" id="closebtn" class="btn btn-lg"><img src="~/Content/delete-icon.png" /></a>
        </div>
    </div>
    <section id="loginForm">
        @using (Html.BeginForm("Kategoriler", "Account", new { }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
            @Html.AntiForgeryToken()








            <div class="container wrapper">
                <div class="col-xs-6">
                    <div class="row">
                        <div class="col-xs-10 col-xs-push-1">
                            
                            @Html.ActionLink("TEKNOLOJİ", "Kategoriparkyeribulma", new {kat=1,kapı=1 }, new { @class= "btn btn-info btn-lg btn-block" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-10 col-xs-push-1 ">
                            
                            @Html.ActionLink("GİYİM", "Kategoriparkyeribulma", new { kat = 1,kapı=2 }, new { @class = "btn btn-info btn-lg btn-block" })
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="row">
                        <div class="col-xs-10 col-xs-push-1">
                            
                            @Html.ActionLink("YEMEK", "Kategoriparkyeribulma", new { kat = 2,kapı=1 }, new { @class = "btn btn-info btn-lg btn-block" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-10 col-xs-push-1">
                            
                            @Html.ActionLink("EĞLENCE", "Kategoriparkyeribulma", new { kat = 2,kapı=2 }, new { @class = "btn btn-info btn-lg btn-block" })
                        </div>
                    </div>
                </div>
            </div>
        }
    </section>

</body>
</html>